@import 'vars';
@import 'mixins';

/*******************************************************/
  //Universal
/*******************************************************/
body {

  font-family: 'OpenSans-Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;

  background: $color-bg;
}


/*******************************************************/
  //Helper and Generic
/*******************************************************/
.center {
  text-align: center;
}

.transition-1s {
  @include transition(1s);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pure-center {
  margin-left: auto;
  margin-right: auto;
}

.vertical-spacer {
  min-height: 0vh;
  height: 5vh;
  width: 100vw;
}

/*******************************************************/
  //Main Preload
/*******************************************************/

#main-webload {
  @extend .flex-center;

  position: fixed;
  z-index: 5;

  width: 100vw;
  height: 100vh;

  background-color: $color-content;

  margin: auto;
}

#main-webload.preload-complete {
  height: 0vh;
}

#main-webload img {
  @include transition(1s);
  @include scale(1)
}
#main-webload.preload-complete img {
  @include scale(0);
}

#main-content {
  display: none;
}

/*******************************************************/
  //Nav
/*******************************************************/

.btn {
  @include transition(0.2s);
  cursor: pointer;
}

.nav-btn {
  @extend .btn;
  background-color: $dark * $color-content;
  color: $darkest * $color-content;

  max-width: 400px;
}

.nav-btn:hover {
  color: $darker * $color-content;
  background-color: $color-content;
}